@font-face {
    font-family: 'Albert Sans';
    src: url('AlbertSans-Bold.woff2') format('woff2'),
        url('AlbertSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('AlbertSans-Black.woff2') format('woff2'),
        url('AlbertSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('AlbertSans-Light.woff2') format('woff2'),
        url('AlbertSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('AlbertSans-SemiBold.woff2') format('woff2'),
        url('AlbertSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('AlbertSans-Regular.woff2') format('woff2'),
        url('AlbertSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('AlbertSans-Medium.woff2') format('woff2'),
        url('AlbertSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

