@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans-Black.woff2') format('woff2'),
        url('MonaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans-Bold.woff2') format('woff2'),
        url('MonaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans-Light.woff2') format('woff2'),
        url('MonaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans-Medium.woff2') format('woff2'),
        url('MonaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans-Regular.woff2') format('woff2'),
        url('MonaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona Sans';
    src: url('MonaSans-SemiBold.woff2') format('woff2'),
        url('MonaSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

